body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: rgb(233, 183, 183);
    background-size:cover;
}
.induction{
    width:300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:black;
    text-align:center;
}
.induction h1{
    color:white;
    text-transform:uppercase;
    font-weight:700;
}
.induction input[type="text"],.induction input[type="password"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:3px solid red;
    padding:14px 10px;
    width:220px;
    outline:none;
    color: white;
    border-radius:24px;
    transition:0.25px;
}
.induction input[type="text"]:focus,.induction[type="password"]:focus{
    width:270px;
    border-color: #ffc400ec;
}
.induction input[type="submit"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:3px solid #ffc400ec;
    padding:14px 35px;
    outline:none;
    color: white;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
}
.induction input[type="submit"]:hover{
    background: #ffc400ec;
}
.induction h3{
    color: red;
    text-align:center;
    font-size:medium;
}
.induction h4{
    color: red;
}